{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="my-4">About Us</h2>
            </div>
        </section>
    </main>
{% endblock %}
