{% extends 'base.html.twig' %}
{% block title %}Détail{% endblock %}
{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-12">
                <h2 class="my-4">Détail du produit</h2>
            </div>
            <div class="col-md-4">
                <img src="{{ asset('assets/img/products/') ~ product.image }}" alt="{{ product.nom }}">
            </div>
            <div class="col-md-8">
                <h3>{{ product.nom|upper }}</h3>
                <p>
                    {{ product.created|date('d/m/Y') }}<br>
                    {{ product.category.name }}
                    {% if product.promotion != 0 %}
                    <h5>Promotion  
                    <s style="color:red"><span style="color:black">{{ product.prixInitial + ( product.prixInitial * product.tva / 100 ) }} </span></s>&nbsp; &rarr; {{ ( product.prixInitial + ( product.prixInitial * product.tva / 100 )) / 100 * ( 100 - product.promotion ) }} &euro;</h5>
                    {% endif %}
                    {% if product.promotion == 0 %}
                    <h5>{{ product.prixInitial + ( product.prixInitial * product.tva / 100 ) }} &euro;</h5>
                    {% endif %}
                    {% if product.rupture == true %}
                    <h4 style="color:red"> EN RUPTURE </h4>
                    {% endif %}
                </p>
                <p>
                    {{ product.description }}
                </p>
                <p>
                    <a href="{{ path('products') }}" class="btn btn-outline-secondary">Retour aux produits</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{ path('del_prod', {slug:product.slug}) }}" class="btn btn-danger"><i class="icofont-ui-delete"></i></a>
                </p>
            </div>
        </section>
    </main>
{% endblock %}